Source: pirogue-admin-client
Section: misc
Priority: optional
Maintainer: U+039b <hello@pts-project.org>
Build-Depends:
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 dh-python,
 python3-all,
 python3-cryptography,
 python3-setuptools,
 python3-grpcio,
 python3-pirogue-admin-api (= 2.0.4),
 python3-yaml,
 quilt,
Standards-Version: 4.5.1
Homepage: https://github.com/PiRogueToolSuite/pirogue-admin
Rules-Requires-Root: no

Package: pirogue-admin-client
Architecture: all
Depends:
 python3-cryptography,
 python3-grpcio,
 python3-pirogue-admin-api (= 2.0.4),
 python3-yaml,
 ${python3:Depends},
 ${misc:Depends},
Recommends:
 qrencode,
Description: PiRogue administration client
 This package allows the user to administrate a PiRogue instance locally
 and remotely.
