#!/usr/bin/make -f

export PYBUILD_NAME=pirogue_admin_client

%:
	dh $@ --with quilt,python3 --buildsystem=pybuild

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_clean:
	dh_clean
	rm -rf pirogue_admin_client.egg-info/
